<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>스터디버디</title>
  <meta name="description" content="스터디버디 (Study Buddy): 코딩 / 영어 배우자" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
  <link rel="stylesheet" href="lecture.min.css" />
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

  <div class="main">
    <header class="white">
      <div class="nav-logo">
        <a href=""><span>STUDY BUDDY</span></a>
      </div>
      <div class="nav-menu">
        <a href="">영어강의</a>
        <a href="">코딩강의</a>
        <a href="">강사소개</a>
        <a href="">문의하기</a>
      </div>
      <a href="javascript:void(0);" class="nav-menu-btn">
        <i class="fa fa-bars"></i>
      </a>
    </header>
    <div id="banner" class="banner">
      <div class="aside">
        <p>English Lectures</p>
      </div>
      <div class="name">
        <p>Anne Park</p>
        <p class="semi-logo">스터디버디</p>
      </div>
      <div class="line">
        <p>Hello</p>
      </div>
      <div class="img"></div>
      <div class="text-bubble">
        <div class="bubble">Hi, this is Anne!</div>
        <div class="bubble">Check out my classes below!</div>
      </div>
      <div class="signature">앤(Anne) 선생님</div>
      <div id="main-text" class="text">
        <h1>ENGLISH<span>.</span></h1>
        <h1>CLASS<span>.</span></h1>
        <h1>LINEUP<span>.</span></h1>
      </div>
    </div>
  </div>

  <!-- <div class="greeting-container">
      <div class="greeting">
        <p><span>안녕하세요? 앤입니다!</span></p>
        <p>
          <span
            >여러분과 재밌는 영어 수업을 진행하고자 스터디버디를 차리게
            되었어요.</span
          >
        </p>
        <p>
          <span
            >이때까지 많은 수업을 진행하면서 배운 노하우를 여러분과 공유하고
            싶어요.</span
          >
        </p>
      </div>
    </div> -->

  <div class="lectures">
    <div class="lectures-intro">ON/OFFLINE 코딩 수업</div>
    <div class="lectures-list">
      <div class="lecture">
        <div class="info">
          <p class="title">HTML, CSS 기초잡기반</p>
          <p class="subtitle">한달만에 스터디버디 웹사이트를 만들기</p>
          <p class="description">
            한달동안 HTML, CSS의 기본기를 다지고, 스터디버디 클론을
            만들어봐요.
          </p>
          <div class="tags">
            <p class="tag">#ONLINE</p>
            <p class="tag">#5기</p>
            <p class="tag">#BEST!</p>
          </div>
          <div class="lecture-footer">
            <p class="schedule">주2일 / 1.5시간 (문의)</p>
          </div>
        </div>
      </div>

      <div class="lecture">
        <div class="info">
          <p class="title">HTML, CSS 기초잡기반</p>
          <p class="subtitle">한달만에 스터디버디 웹사이트를 만들기</p>
          <p class="description">
            한달동안 HTML, CSS의 기본기를 다지고, 스터디버디 클론을
            만들어봐요.
          </p>
          <div class="tags">
            <p class="tag">#ONLINE</p>
            <p class="tag">#5기</p>
            <p class="tag">#BEST!</p>
          </div>
          <div class="lecture-footer">
            <p class="schedule">주2일 / 1.5시간 (문의)</p>
          </div>
        </div>
      </div>

      <div class="lecture">
        <div class="info">
          <p class="title">HTML, CSS 기초잡기반</p>
          <p class="subtitle">한달만에 스터디버디 웹사이트를 만들기</p>
          <p class="description">
            한달동안 HTML, CSS의 기본기를 다지고, 스터디버디 클론을
            만들어봐요.
          </p>
          <div class="tags">
            <p class="tag">#ONLINE</p>
            <p class="tag">#5기</p>
            <p class="tag">#BEST!</p>
          </div>
          <div class="lecture-footer">
            <p class="schedule">주2일 / 1.5시간 (문의)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info-section">
    <a href="">강사 이력 확인하기 👉</a>
  </div>

  <footer>
    <div class="container">
      <div class="footer-first">
        <p>"We are your Study Buddies!"</p>
        <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & NY & HM</p>
        <a target="blank" href="https://blended.kr"><button>블렌디드 구경하기</button></a>
      </div>
      <div class="footer-second">
        <p>사업자명: 블렌디드</p>
        <p>대표자: 박시형</p>
        <p>사업자등록번호: 777-21-01064</p>
        <p>사업장 소재지: 서울특별시 성북구 동소문로 248 (02735)</p>
        <p>이메일: ppark9553@gmail.com</p>
      </div>
    </div>
  </footer>
  <script src="lecture.min.js" async defer></script>
</body>

</html>