section.teacher .image {
  width: 20rem;
  height: 20rem;
  background-image: url("../img/phillip_720x720.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
