/* Main */
main {
  display: grid;
  grid-template-rows: var(--banner-height-sm);
  grid-template-columns: 0.5fr 9fr 0.5fr;
  grid-template:
    "banner banner banner"
    "main main main"
    ". intro ."
    ". banner-2 ."
    ". lecture ."
    "message message message"
    / 0.5fr 9fr 0.5fr;
}

main p {
  font-weight: 300;
}

/* Banner */
main .banner {
  grid-area: banner;
  height: var(--banner-height-sm);
  background: var(--shade);
  z-index: -2;
  overflow: hidden;
}

main .banner .container {
  width: 90%;
  position: relative;
}

main .banner .text {
  background: rgba(26, 30, 38, 0.7);
  padding: 4rem;
  font-weight: 900;
  font-family: montserrat;
  color: white;
  position: absolute;
  bottom: 3rem;
  z-index: 1;
}

main .banner .text span {
  font-size: 4rem;
  font-weight: 900;
}

main .banner h3:nth-child(1) span {
  color: var(--main-green);
}

main .banner h3:nth-child(2) span {
  color: var(--hot-pink);
}

main .banner h3:nth-child(3) span {
  color: var(--main-purple);
}

main .banner .name {
  font-size: 3rem;
  font-weight: 900;
  font-family: var(--nanum-pen);
  position: absolute;
  right: 0;
  top: 0.5rem;
}

/* Main Lecture */
main .main-lecture {
  grid-area: main;
  padding-top: var(--main-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-lecture h5 {
  font-size: 2.5rem;
}

main .main-lecture > .event-sec {
  width: 90%;
  padding: calc(var(--main-spacing) * 2);
  border: 1px solid var(--shade);
  border-radius: var(--main-radius);
  color: var(--dark-tone);
}

main .main-lecture > .event-sec span {
  border-bottom: 1px solid var(--dark-tone);
  font-weight: 900;
  font-size: 2.5rem;
}

main .main-lecture > .event-sec p:nth-child(2) {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main .main-lecture > .event-sec a {
  font-size: 2rem;
  background: var(--dark-tone);
  color: #e8da43;
  padding: 0 1rem;
  transition: all 0.3s ease-out;
}

main .main-lecture > .event-sec a:hover {
  background: var(--dark-tone-shade);
}

main .main-lecture .wrapper {
  width: 100%;
  height: 100%;
  padding: var(--main-spacing) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .main-lecture .main-card {
  width: 90%;
  color: var(--dark-tone);
  border: 1px solid var(--shade);
  border-radius: calc(var(--main-radius) + 0.2rem);
  box-shadow: 3px 3px 11px var(--shade), -3px -3px 11px var(--shade);
}

main .main-lecture .main-card .filter {
  padding: calc(var(--main-spacing) * 2);
  border-radius: var(--main-radius);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0.6) 100%
  );
}

main .main-lecture h6 {
  color: var(--main-purple);
}

main .main-lecture .filter .event {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 900;
}

main .main-lecture .event span:nth-child(1) {
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  background: var(--main-purple);
  color: var(--shade);
}

main .main-lecture .event span:nth-child(2) {
  border-bottom: 1px solid var(--dark-tone);
}

main .main-lecture button {
  margin-top: var(--main-spacing);
  font-size: var(--text-md);
  font-weight: 400;
  transition: color 0.3s ease-out;
}

main .main-lecture button:hover {
  color: var(--dark-tone-shade);
}

/* Intro */
main .intro {
  grid-area: intro;
  padding-top: var(--main-spacing);
}

main .intro h3 span {
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--dark-tone);
  background: linear-gradient(to top, var(--light-green) 40%, transparent 40%);
}

main .intro p {
  margin-top: 1rem;
  font-size: var(--text-md);
}

main .intro .quote {
  background: var(--shade);
  margin: 3rem var(--main-spacing);
  padding: 3rem var(--main-spacing);
  color: var(--dark-tone);
  font-family: var(--source-sans);
  font-size: 2.2rem;
  border-radius: var(--main-radius);
  text-align: center;
}

/* Banner-2 */
main .banner-2 {
  grid-area: banner-2;
}

main .banner-2 h3 {
  padding-top: var(--main-spacing);
}

main .banner-2 h3 span {
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--dark-tone);
  background: linear-gradient(to top, var(--light-green) 40%, transparent 40%);
}

main .banner-2 p {
  margin-top: var(--main-spacing);
  font-size: var(--text-md);
}

main .banner-2 p span {
  padding: 0 0.5rem;
  border-radius: var(--main-radius);
  background: var(--shade);
  color: var(--light-purple);
  font-weight: 400;
}

/* Lecture */
main .lecture {
  margin-top: var(--main-spacing);
  grid-area: lecture;
}

main .lecture .lecture-intro {
  margin: calc(var(--main-spacing) + 1rem) 0;
  border-radius: var(--main-radius);
}

main .lecture .lecture-intro {
  height: var(--title-height);
  background: rgb(9, 132, 227);
  background: linear-gradient(
    149deg,
    rgba(9, 132, 227, 1) 0%,
    rgba(28, 212, 207, 1) 65%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .lecture .lecture-intro .side {
  padding-left: 5%;
}

main .lecture .lecture-intro h6 {
  font-size: var(--text-normal);
}

main .lecture .lecture-intro p {
  color: #86f6ff;
  font-weight: 400;
  font-size: var(--text-md);
}

main .lecture .lecture-intro i {
  padding-right: 5%;
  font-size: 3rem;
}

main .lecture .card-grid .lecture-card {
  border: 1px solid var(--shade);
  padding: var(--main-spacing);
  border-radius: var(--main-radius);
  box-shadow: 5px 5px 8px #f0f0f0, -2px -2px 6px #f0f0f0;
  cursor: pointer;
  transition: box-shadow 0.3s ease-out;
}

main .lecture .card-grid .lecture-card:hover {
  box-shadow: 6px 10px 10px #f0f0f0, -2px -2px 6px #f0f0f0;
}

main .lecture .card-grid .lecture-card:not(:last-child) {
  margin-bottom: calc(var(--main-spacing) + 1rem);
}

main .lecture .card-grid h5 {
  font-weight: 700;
}

main .lecture .card-grid h5 span {
  color: var(--main-purple);
  font-weight: 900;
}

main .lecture .card-grid p {
  color: var(--mid-dark);
  font-weight: 100;
}

main .lecture .card-grid .lecture-card .more-btn {
  transition: all 0.3s ease-out;
  font-size: var(--text-tiny);
  color: var(--dark-tone);
}

main .lecture .card-grid .lecture-card .more-btn:hover {
  color: var(--dark-tone-shade);
}

/* Message */
main .message {
  margin-top: calc(var(--main-spacing) * 2 + 1rem);
  grid-area: message;
  background: rgb(91, 99, 111);
  background: linear-gradient(
    180deg,
    rgba(91, 99, 111, 1) 0%,
    rgba(26, 31, 38, 1) 100%
  );
}

main .message .container {
  width: 100%;
  padding: 6rem 5% 7rem 5%;
}

main .message .line {
  width: 100%;
  margin-bottom: 0.5rem;
}

main .message .line .area {
  width: 5rem;
  height: 0.5rem;
  background: var(--light-green);
}

main .message .title {
  width: 100%;
  color: var(--shade);
  margin-bottom: var(--main-spacing);
}

main .message .options {
  width: 100%;
  margin-bottom: var(--main-spacing);
}

main .message .options p {
  font-size: var(--text-sm);
  font-weight: 300;
  color: var(--shade);
}

main .message #message-form {
  width: 100%;
}

main .message .form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main .message label {
  color: var(--shade);
  font-size: var(--text-md);
  font-weight: 100;
  font-family: var(--source-sans);
}

#index aside .message #name-input,
#index aside .message #phone-input,
#index aside .message #email-input {
  margin: 1rem 0;
  width: 100%;
  height: 3rem;
  font-size: var(--text-md);
  color: var(--shade);
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--shade);
}

main .message textarea {
  padding: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  font-size: var(--text-md);
  font-family: var(--noto-sans);
  color: var(--shade);
  background: transparent;
  border: 1px solid var(--shade);
}

main .message textarea:focus {
  outline: none;
}

main .message input[type="submit"] {
  width: 100%;
  height: 5rem;
  background: var(--light-green);
  color: var(--dark-tone);
  font-size: var(--text-md);
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
}

#name-input {
  background: black;
  border: 3px solid black;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  main {
    display: grid;
    grid-template-rows: var(--banner-height-md);
    grid-template-columns: 1.5fr 7fr 1.5fr;
    grid-template-areas:
      "banner banner banner"
      "main main main"
      ". intro ."
      ". banner-2 ."
      ". lecture ."
      "message message message";
  }

  main .banner {
    height: var(--banner-height-md);
  }

  main .banner .container {
    width: 70%;
    grid-template-columns: 4fr 6fr;
  }

  /* main .main-lecture h5 {
    font-size: 2.7rem;
  } */

  main .main-lecture > .event-sec {
    width: 70%;
  }

  main .main-lecture .main-card {
    width: 70%;
  }

  main .message .container {
    padding: 6rem 15% 7rem 15%;
  }
}

@media only screen and (min-width: 961px) {
  main {
    display: grid;
    grid-template-rows: var(--banner-height-lg);
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas:
      "banner banner banner"
      "main main main"
      ". intro ."
      ". banner-2 ."
      ". lecture ."
      "message message message";
  }

  main .banner {
    height: var(--banner-height-lg);
  }

  main .banner .container {
    margin: 0;
    padding: 0;
    width: 60%;
    position: relative;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-areas: ". banner-image";
  }

  main .banner .text {
    background: rgba(26, 30, 38, 1);
    padding: 5rem;
    font-weight: 900;
  }

  main .banner .text h3,
  main .banner .text span {
    font-size: 6rem;
  }

  main .banner .circle {
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 20%;
    left: 45%;
    z-index: -1;
  }

  main .main-lecture > .event-sec span {
    font-size: 3rem;
  }

  main .main-lecture > .event-sec p:nth-child(2) {
    font-size: 2.5rem;
  }

  main .main-lecture > .event-sec a {
    font-size: 2.5rem;
  }

  main .main-lecture h5 {
    font-size: 3rem;
  }

  main .main-lecture > .event-sec {
    width: 60%;
  }

  main .main-lecture .main-card {
    width: 60%;
  }

  main .message .container {
    padding: 6rem 20% 7rem 20%;
  }

  main .message .container .title {
    font-size: 3.5rem;
  }
}
