<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-177837666-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-177837666-1");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>스터디버디 | 코딩</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/buddy_favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="coding.min.css" />
  </head>

  <body id="index" class="centered-column">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="class-modal">
      <div class="content">
        <div class="top">
          <div class="title">Coding</div>
          <span class="close" id="modal-close">
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="main-info">
          <span class="category">[회화]</span>
          기초일상 회화
        </div>
        <div class="sub-info">중고등, 대학/성인: 모든 사람 대상</div>
        <div class="history">
          <div class="intro">이력내용</div>
          <div class="student-cnt">누적 수강생: <span>30명</span></div>
          <div class="class-cnt"><span>5기</span> 수업 진행중</div>
          <div class="pricing">
            <p>매주 2회, 각 회 2시간 수업 진행</p>
            <p>1:1 월 40만원 (다수 문의)</p>
          </div>
        </div>
        <div class="curriculum">
          <div class="intro">Curriculum</div>
          <div class="content">
            <p>1. 필수 암기 단어/숙어 표현 100가지 총정리</p>
            <p>2. 인물, 사물, 장소 묘사 상의</p>
            <p>3. 상황 적용 - 롤플레이 진행</p>
            <p>4. 미드/영화 활용 명대사/명장면 분석</p>
          </div>
        </div>
        <div class="quick-message">
          <div class="intro">문의하기</div>
          <p>
            아래에서 바로 문의하기 해주셔도, 카카오톡 플러스 친구로
            '스터디버디'를 검색하셔서 문의주셔도 바로 답장드리겠습니다! 😀
          </p>
          <form id="quick-message-form" action="">
            <div class="form-row">
              <label for="quick-name-input">Name:</label>
              <input
                id="quick-name-input"
                name="quick-name-input"
                type="text"
              />
            </div>
            <div class="form-row">
              <label for="quick-phone-input">Phone:</label>
              <input
                id="quick-phone-input"
                name="quick-phone-input"
                type="text"
              />
            </div>
            <div class="form-row">
              <label for="quick-message-input">Message:</label>
              <textarea
                id="quick-message-input"
                for="quick-message-input"
                cols="30"
                rows="10"
              ></textarea>
            </div>
            <input type="submit" value="전송" />
          </form>
        </div>
      </div>
    </div>

    <header class="col-full">
      <div class="logo left-centered">STUDYBUDDY</div>
      <div class="menu right-centered">
        <a href="/english"><button>영어</button></a>
        <a href="/coding"><button>코딩</button></a>
      </div>
    </header>

    <main class="col-full">
      <section class="banner centered-row">
        <div class="container">
          <div class="text">
            <h3>CODING<span>.</span></h3>
            <h3>CLASS<span>.</span></h3>
            <h3>LINEUP<span>.</span></h3>
          </div>
          <div class="image"></div>
          <div class="circle"></div>
          <div class="name">Phillip 선생님</div>
        </div>
      </section>
      <section class="intro">
        <h3><span>인사말</span></h3>
        <div class="macscreen">
          <div class="topbar">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="body">hello world!</div>
        </div>
        <p>
          <strong
            >안녕하세요? 스터디버디 코딩 수업을 책임지고 있는
            Phillip입니다.</strong
          >
        </p>
        <br />
        <p>
          제가 코딩의 세계에 입문한지 벌써 10년 가까이 되고 있어요. 그동안
          세상도 많이 변해서 이제 모든 회사가 개발자를 고용하고 있어요. 그런
          흐름속에서 취직, 돈을 목표로 하고 개발의 세상에 발을 들이는 사람이
          늘어나고 있죠. 하지만 제 생각은 그래요: 코딩을 배우는건 그런 단순한
          목적 때문만이 아니에요. 코딩을 한다는건 디지털 세상과 소통한다는
          거에요. 제대로 코딩을 배우면 우리가 살고 있는 세상의 근간이 되는
          컴퓨터, 스마트폰, 네트워크를 이해하고 다룰 수 있게 되기 때문에 취직,
          돈 그 이상의 것을 얻을 수 있는 거죠.
        </p>
        <br />
        <p>
          요즘은 주변을 둘러보면 코딩 관련 수업이 많이 보일 거에요. 다양해진
          강사진 사이에서 본인에게 딱 맞는 수업을 찾긴 쉽지 않죠. 어떤 수업을
          들어도 끝까지 완강 한다면 큰 도움이 되겠지만, 온라인 강의 만으로는 그
          양에 압도 당해, 그리고 시간이 없어서 허덕이다 끝날 가능성이 높거든요.
          그래서 스터디버디가 옆에서 한발 한발 앞으로 나아갈 수 있게, 그리고
          최종적으로 원하는 성과를 달성할 수 있도록 끝까지 도와 드릴 겁니다.
        </p>
      </section>
      <section class="banner-2">
        <div class="career">
          <h3><span>경력</span></h3>
          <p>- <span>경희대학교</span> 국제학부 / 경제학부 복수전공 졸업</p>
          <p>- <span>UC Davis</span> Economics GSP 프로그램 이수</p>
          <p>- 현직 <span>핀테크 스타트업</span> 개발자 (금융 데이터 플랫폼)</p>
          <p>
            - <span>Blended</span> 스타트업 (경제/금융 데이터 분석 플랫폼, 투자
            자동화 서비스 개발 서비스) 대표
          </p>
          <p>
            - <span>Keystone Investment</span> (투자자문, 빅데이터/머신러닝 기반
            투자 솔루션 개발 기업) 파트너 CTO
          </p>
          <p>
            - (전) <span>베지아보카도</span> 스타트업 빅데이터 기반 영어교육
            컨텐츠 플랫폼 공동대표 (CTO)
          </p>
          <p>
            - <span>프리랜서</span> 3년 경험 보유, 웹개발 / 데이터 수집, 관리,
            분석 / 자동화 시스템 구축 / 자동 투자 시스템 개발 등 다수 프로젝트
            진행
          </p>
          <p>
            - <span>95academy</span> (95academy.com) 웹개발 수업 진행 (현재
            5기수 진행, 계속 진행 중)
          </p>
          <p>- <span>코딩개인레슨</span> 2년 넘도록 실전 위주 수업 진행</p>
          <p>- 칭다오 <span>종로어학원</span> 학원앱 기획/디자인/개발</p>
          <p>
            - <span>Buchanan High School</span> (미국 캘리포니아주 공립고등학교)
            졸업
          </p>
        </div>
      </section>
      <section class="lecture">
        <div class="lecture-intro">
          <div class="side">
            <h6>스터디버디 코딩 수업</h6>
            <p></p>
          </div>
          <i class="fas fa-book-reader"></i>
        </div>
        <div class="card-grid">
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">기초일상 회화</h5>
              <p class="subtitle">중고등, 대학/성인 대상</p>
            </div>
            <div class="more-btn" data-num="1">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">비즈니스 회화</h5>
              <p class="subtitle">이메일 쓰기, 미팅/프레젠테이션, 전화 등</p>
            </div>
            <div class="more-btn" data-num="2">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">프리토킹 회화 <span>고급</span></h5>
              <p class="subtitle">Debate, 시사이슈 토론, 등 자유 주제</p>
            </div>
            <div class="more-btn" data-num="3">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">OPIC 공인어학시험</h5>
              <p class="subtitle">1달 완성 입문/기초반, 1주 완성 AL목표반</p>
            </div>
            <div class="more-btn" data-num="4">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">TOEIC Speaking 공인어학시험</h5>
              <p class="subtitle">기초 이론반, 고급반</p>
            </div>
            <div class="more-btn" data-num="5">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">TOEIC 공인어학시험</h5>
              <p class="subtitle">기초 이론반, 750점반, 990점반</p>
            </div>
            <div class="more-btn" data-num="6">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">TOEFL 공인어학시험</h5>
              <p class="subtitle">Speaking, Reading, Writing, Listening</p>
            </div>
            <div class="more-btn" data-num="7">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">SAT 준비</h5>
              <p class="subtitle">Reading, Writing반</p>
            </div>
            <div class="more-btn" data-num="8">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">AP 준비</h5>
              <p class="subtitle">
                AP Government & Politics, Psycology, Literature, History반
              </p>
            </div>
            <div class="more-btn" data-num="9">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">IB 준비</h5>
              <p class="subtitle">IB Literature반</p>
            </div>
            <div class="more-btn" data-num="10">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">
                국제고 / 해외대 / 대학원 에세이 <span>입시전형</span>
              </h5>
              <p class="subtitle">에세이 첨삭 서비스 별도</p>
            </div>
            <div class="more-btn" data-num="11">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">
                영어면접대비, 외국계기업 준비 <span>취업전형</span>
              </h5>
              <p class="subtitle">1대 1 Mock Interview</p>
            </div>
            <div class="more-btn" data-num="12">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="message">
        <div class="container">
          <div class="line">
            <div class="area"></div>
          </div>
          <h6 class="title">문의하기</h6>
          <div class="options">
            <p>
              뭐든 문의해주세요. 아래 사항들을 같이 보내주시면 카톡/이메일로
              연락드립니다!
            </p>
            <br />
            <p>1. 무슨 수업을 듣고 싶은지 알려주세요.</p>
            <p>2. 현재 수준이 어떤지 알려주세요.</p>
            <p>3. 기간/시간은 어떻게 하고 싶은지 알려주세요.</p>
            <br />
            <p>
              <img
                id="kakao-icon"
                src="/assets/kakao_icon.svg"
                alt="Kakao"
              />카카오톡 플러스친구로
              <a id="kakao-profile" href="https://pf.kakao.com/_xizxcMK"
                >스터디버디</a
              >를 검색해보세요!
            </p>
          </div>
          <form id="message-form" action="">
            <div class="form-row">
              <label for="name-input">Name:</label>
              <input id="name-input" name="name-input" type="text" />
            </div>
            <div class="form-row">
              <label for="phone-input">Phone:</label>
              <input id="phone-input" name="phone-input" type="text" />
            </div>
            <div class="form-row">
              <label for="email-input">Email:</label>
              <input id="email-input" name="email-input" type="text" />
            </div>
            <div class="form-row">
              <label for="content-input">Content:</label>
              <textarea
                id="content-input"
                name="content-input"
                cols="30"
                rows="10"
              ></textarea>
            </div>
            <input type="submit" value="전송하기" />
          </form>
        </div>
      </section>
    </main>

    <footer class="col-full">
      <div class="blended">
        <p>"We are your Study Buddies!"</p>
        <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & NY & HM</p>
        <a target="blank" href="https://blended.kr"
          ><button>블렌디드 구경하기</button></a
        >
      </div>
      <div class="company">
        <p>사업자명: 블렌디드</p>
        <p>대표자: 박시형</p>
        <p>사업자등록번호: 777-21-01064</p>
        <p>사업장 소재지: 서울특별시 성북구 동소문로 248 (02735)</p>
        <p>이메일: ppark9553@gmail.com</p>
      </div>
    </footer>

    <script src="coding.min.js" async defer></script>
  </body>
</html>
