<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-177837666-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-177837666-1");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>스터디버디</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/buddy_favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="index.min.css" />
  </head>

  <body id="index" class="centered-column">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header class="col-full">
      <div class="logo left-centered">STUDYBUDDY</div>
      <div class="menu right-centered">
        <a href="/english"><button>영어</button></a>
        <a href="/coding"><button>코딩</button></a>
      </div>
    </header>

    <main class="col-full">
      <section class="banner">
        <h2>단기간에 배우는 것보다</h2>
        <h2><span>확실하게</span> 배우는게 중요합니다.</h2>
        <p>스터디버디에서 확실하게 미래를 준비하세요.</p>
        <a
          class="more-btn"
          href="https://www.notion.so/1b3dacef608e40b69590eecaebf29ca3"
          >수업 알아보기 <i class="fas fa-book-reader"></i>
        </a>
      </section>
    </main>

    <aside class="col-full">
      <!-- <div class="upperline"></div> -->
      <div class="anne teacher">
        <div class="info">
          <h5>ENGLISH<span>.</span></h5>
          <p>앤(Anne) 선생님</p>
          <a href="/english"
            >수업 둘러보기 <i class="fas fa-angle-right"></i
          ></a>
        </div>
        <div class="image"></div>
      </div>
      <div class="phillip teacher">
        <div class="info">
          <h5>CODING<span>.</span></h5>
          <p>필립(Phillip) 선생님</p>
          <a href="/coding">수업 둘러보기 <i class="fas fa-angle-right"></i></a>
        </div>
        <div class="image"></div>
      </div>
      <!-- <section class="video"></section> -->

      <section class="intro">
        <div class="text">
          <div class="side">
            <h6>스터디버디 Point!</h6>
            <p>스터디버디가 특별한 이유</p>
          </div>
          <i class="fas fa-medal"></i>
        </div>
        <!-- <div class="description"></div> -->
        <div class="points">
          <div class="point">
            <h6 class="left-centered">
              <div class="line"></div>
              소수 정예 (1~5명) 수업
            </h6>
            <p>수업 커리큘럼을 열심히 생각하여 짰어요.</p>
          </div>
          <div class="point">
            <h6 class="left-centered">
              <div class="line"></div>
              아낌없는 노하우 전수
            </h6>
            <p>수업만 잘 따라와도 확실한 성과가 보장되요.</p>
          </div>
          <div class="point">
            <h6 class="left-centered">
              <div class="line"></div>
              본인의 니즈에 딱 맞춘 수업
            </h6>
            <p>본인이 이루고자 하는 목표를 선생님과 함께 이루어 보세요.</p>
          </div>
        </div>
      </section>

      <!-- <section class="faq">
        <div class="question"></div>
        <div class="question"></div>
        <div class="question"></div>
      </section> -->

      <section class="message">
        <div class="container">
          <div class="line">
            <div class="area"></div>
          </div>
          <h6 class="title">문의하기</h6>
          <div class="options">
            <p>
              뭐든 문의해주세요. 아래 사항들을 같이 보내주시면 카톡/이메일로
              연락드립니다!
            </p>
            <br />
            <p>1. 무슨 수업을 듣고 싶은지 알려주세요.</p>
            <p>2. 현재 수준이 어떤지 알려주세요.</p>
            <p>3. 기간/시간은 어떻게 하고 싶은지 알려주세요.</p>
            <br />
            <p>
              <img
                id="kakao-icon"
                src="/assets/kakao_icon.svg"
                alt="Kakao"
              />카카오톡 플러스친구로
              <a id="kakao-profile" href="https://pf.kakao.com/_xizxcMK"
                >스터디버디</a
              >를 검색해보세요!
            </p>
          </div>
          <form id="message-form" action="">
            <div class="form-row">
              <label for="name-input">Name:</label>
              <input id="name-input" name="name-input" type="text" />
            </div>
            <div class="form-row">
              <label for="phone-input">Phone:</label>
              <input id="phone-input" name="phone-input" type="text" />
            </div>
            <div class="form-row">
              <label for="email-input">Email:</label>
              <input id="email-input" name="email-input" type="text" />
            </div>
            <div class="form-row">
              <label for="content-input">Content:</label>
              <textarea
                id="content-input"
                name="content-input"
                cols="30"
                rows="10"
              ></textarea>
            </div>
            <input type="submit" value="전송하기" />
          </form>
        </div>
      </section>
    </aside>

    <footer class="col-full">
      <div class="blended">
        <p>"We are your Study Buddies!"</p>
        <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & NY & HM</p>
        <a target="blank" href="https://blended.kr"
          ><button>블렌디드 구경하기</button></a
        >
      </div>
      <div class="company">
        <p>사업자명: 블렌디드</p>
        <p>대표자: 박시형</p>
        <p>사업자등록번호: 777-21-01064</p>
        <p>사업장 소재지: 서울특별시 성북구 동소문로 248 (02735)</p>
        <p>이메일: ppark9553@gmail.com</p>
      </div>
    </footer>

    <script src="index.min.js" async defer></script>
  </body>
</html>
