<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-177837666-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-177837666-1");
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "386542892360921");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=386542892360921&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>스터디버디 | 웹개발 2달 완성반</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/buddy_favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="main_coding.min.css" />
  </head>

  <body id="index" class="centered-column">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header class="col-full">
      <div class="logo left-centered">STUDYBUDDY</div>
      <div class="menu right-centered">
        <a href="/english"><button>영어</button></a>
        <a href="/coding"><button>코딩</button></a>
      </div>
    </header>

    <aside class="main-lecture">
      <section class="banner">
        <div class="banner-container">
          <div class="tag">
            <span><i class="fas fa-laptop-code"></i> 스터디버디 코딩 특강</span>
          </div>
          <h2 class="title">웹개발 2달 완성반</h2>
          <h5 class="subtitle">
            2달 만에 어떤 웹사이트라도 만들 수 있게 해주는 수업
          </h5>
          <div class="price">
            <span
              >개인별 수강료: <span class="prev-price">월 398,000원</span>
              <i class="fas fa-long-arrow-alt-right"></i>
              <span class="curr-price">월 199,000원</span></span
            >
          </div>
          <div class="classes">
            <div class="class-card">
              <div class="dday"><span>쇼핑몰반 시작: 10월 19일</span></div>
              <div class="name">
                [온라인 쇼핑몰 개발반] 주2회 <span>월수반</span>
              </div>
              <div class="schedule">
                주 2회 오후 9시~10시 30분 (회당 1시간 30분) / 총 16회(24시간)
                진행
              </div>
              <div class="student">수업 정원: 1~5명</div>
            </div>
            <div class="class-card">
              <div class="dday"><span>데이터반 시작: 10월 19일</span></div>
              <div class="name">
                [금융 데이터 대시보드반] 주2회 <span>토일반</span>
              </div>
              <div class="schedule">
                주 2회 오전 9시~10시 30분 (회당 1시간 30분) / 총 16회(24시간)
                진행
              </div>
              <div class="student">수업 정원: 1~5명</div>
              <a href="https://pf.kakao.com/_xizxcMK">신청하기</a>
            </div>
          </div>
        </div>
      </section>
      <section class="video">
        <div class="play-div">
          <video controls autoplay muted loop>
            <source
              src="https://s3.ap-northeast-2.amazonaws.com/studybuddy.kr/coding_vid.mp4"
              type="video/mp4"
            />
            영상 지원이 되지 않습니다.
          </video>
        </div>
      </section>
      <section class="teacher">
        <div class="intro">안녕하세요 <span>필립(Phillip)</span>입니다.</div>
        <div class="sub-intro">
          초중고등학교 그리고 대학교에서 인문학, 정치/국제학을 공부한 제가
          지금은 개발자로 일하고 있어요. 머리 아프죠. 하지만 어디 힘들지 않은
          일이 있나요? 평생 하고 싶다는 생각만 들면 되잖아요. 스스로 원하는 걸
          만들 수 있는 수준이 되고 나면 세상 보는 눈이 바뀌게 될 거에요. 저와
          함께 개발의 세계에 발을 내디뎌 봐요. 언제든, 편하게 연락주시면
          성심성의껏 답변드리겠습니다! (제 소개 페이지도 확인해주세요:
          <a href="/coding">코딩 페이지</a>)
        </div>
        <div class="profile">
          <div class="image"></div>
          <div class="quote">
            "한번 만들어보면 멈출 수 없어요<span class="pink">.</span> 실패만
            해도 이제는 그게 제 인생이에요<span class="pink">.</span>"
          </div>
          <div class="history-list">
            <div class="history">
              현직 <span>핀테크 스타트업</span> 개발자: 금융 데이터 플랫폼
            </div>
            <div class="history">
              <span>Blended</span> 스타트업 (경제/금융 데이터 분석 플랫폼, 투자
              자동화 서비스 개발 서비스) 대표
            </div>
            <div class="history">
              <span>Keystone Investment</span> (투자자문, 빅데이터/머신러닝 기반
              투자 솔루션 개발 기업) 파트너 CTO
            </div>
            <div class="history">
              (전) <span>베지아보카도</span> 스타트업 빅데이터 기반 영어교육
              컨텐츠 플랫폼 공동대표 (CTO)
            </div>
            <div class="history">
              <span>프리랜서 개발</span> 3년 경험 보유, 웹개발 / 데이터 수집,
              관리, 분석 / 자동화 시스템 구축 / 자동 투자 시스템 개발 등 다수
              프로젝트 진행
            </div>
            <div class="history">
              <span>95academy</span> 웹개발 수업 진행 (현재 5기수 진행, 계속
              진행 중)
            </div>
          </div>
        </div>
      </section>
      <section class="description">
        <div class="summary">
          <p>코딩은 세상과 소통하는 방식 중 하나입니다.</p>
          <p>
            웹사이트란 온라인 미디어 중 단연 가장 노출이 높으며 소통을 활발히 할
            수 있는 기회를 제공하죠.
          </p>
          <p>
            스터디버디 웹개발 2달 완성반은 말그대로 2달만에 웹사이트의 모든 것을
            배우는 수업입니다.
          </p>
        </div>
        <div class="target">
          <i class="fas fa-caret-right"></i> <span>수업 대상:</span> 컴퓨터, 웹
          기술은 끈임없이 발전하고 있어 그 모든 기술을 배우는 건 불가능해요.
          시간이 지나면 새로운 기술이 등장하기 때문인데요. 그렇기 때문에
          기본기가 더더욱 중요해요. 이 수업은 코딩을 몰라도, 잘 해도 도움이 되는
          수업이니 누구나 들어도 됩니다. 강의 진행 속도는 누구나 즐겨 들을 수
          있는 수준이며, 프로젝트 진행 속도도 본인의 속도에 맞추어 진행할 수
          있습니다.
        </div>
        <div class="objective">
          <i class="fas fa-caret-right"></i> <span>수업 목표:</span> 이 수업을
          들은 수강생은 수업이 완료됨과 동시에 두개의 웹사이트를 실제로
          개발하였을 것이고, 웹사이트의 기본이 되는 HTML, CSS, 자바스크립트를
          자유자재로 다룰 수 있게 될 겁니다. 추가로 프레임워크의 사용은 물론,
          프레임워크가 없어도 스스로 힘으로 세상에 자신이 개발한 웹사이트를
          공유할 수 있는 능력을 키우게 될 겁니다.
        </div>
        <div class="method">
          <i class="fas fa-caret-right"></i> <span>수업 방식:</span> 온라인 Zoom
          화상회의 (오프라인 수업 병행 상담 후 결정 가능)
        </div>
        <div class="material">
          <i class="fas fa-caret-right"></i> <span>수업 자료:</span> 자체 제작
          자료, 깃허브에서 소스코드 제공
        </div>
      </section>
      <section class="curriculum">
        <div class="curriculum-1">
          <div class="title">[월수] 온라인 쇼핑몰 개발반</div>
          <div class="intro">
            제가 요즘 그릭 요거트를 만드는데 푹 빠졌는데요~ 실제로 저와 함께 2달
            동안 그릭요거트를 판매하는 예쁜 온라인 쇼핑몰을 만들고 싶은 분은 이
            수업을 들으면 큰 도움이 될 거에요. 제가 10년을 개발하면서 터득한
            모든 노하우를 여러분께 상세하게 알려드리고 제 수업을 들으면서 직접
            쇼핑몰 운영을 할 수 있도록 코드 한줄한줄 설명드릴게요. 이 수업
            수강생분들은 그릭 요거트 100원에 살 수 있어요~ :)
          </div>
          <p>1주차: HTML, CSS 이론/실습 - 첫 "정적" 웹사이트 제작</p>
          <p>2주차: 자바스크립트 A to Z (Frontend) - 첫 "동적" 웹사이트 제작</p>
          <p>3주차: 자바스크립트 응용 (Backend) + REST API 제작</p>
          <p>4주차: 데이터베이스 + 리눅스 웹배포</p>
          <p>
            5주차: 반응형 쇼핑몰 페이지 제작 (판매, 진열, 고객, 장바구니 페이지)
          </p>
          <p>6주차: 고객 관리 시스템 제작 (로그인, 소셜 로그인)</p>
          <p>7주차: 홍보 페이지 / 홍보 영상 업로드 + FAQ/공지 게시판 페이지</p>
          <p>8주차: 마무리 단계 - 웹사이트 배포, 도메인 등록, 서버 관리 등</p>
          <div class="more-sec">
            <a href="https://pf.kakao.com/_xizxcMK">신청하기</a>
          </div>
        </div>
        <div class="curriculum-2">
          <div class="title">[토일] 금융 데이터 대시보드반</div>
          <div class="intro">
            제 첫 개발 프로젝트가 DART에서 국내 전종목 재무 데이터를 긁어오는
            거였는데요. 그렇게 키스톤 인베스트먼트에서 로보 어드바이저 개발부터
            자동 매매 시스템까지 수년간 금융 데이터를 핸들링하였어요. 금융은 제
            인생이고, 제 미래이기도 하죠. 금융 데이터는 분석과 시각화를 통하여
            좋은 인사이트를 얻어낼 수 있어요. 저와 함께 국내 3000개, 해외
            49000개 종목 가격, 재무 데이터를 분석해봐요. (수강생들은 20년치
            데이터 무료 제공)
          </div>
          <p>1주차: HTML, CSS 이론/실습 - 첫 "정적" 웹사이트 제작</p>
          <p>2주차: 자바스크립트 A to Z (Frontend) - 첫 "동적" 웹사이트 제작</p>
          <p>3주차: 파이썬 A to Z (Backend) + REST API 제작</p>
          <p>4주차: 데이터베이스 + 리눅스 웹배포</p>
          <p>
            5주차: Django로 국내(3000개 종목)/해외(49000개 종목) 가격/재무
            데이터 수집 - 데이터 전부 제공
          </p>
          <p>6주차: 반응형 검색 페이지 제작</p>
          <p>
            7주차: 데이터 분석과 시각화의 기본 (Numpy, Pandas, Highcharts.js)
          </p>
          <p>8주차: 마무리 단계 - 웹사이트 배포, 도메인 등록, 서버 관리 등</p>
          <div class="more-sec">
            <a href="https://pf.kakao.com/_xizxcMK">신청하기</a>
          </div>
        </div>
      </section>
      <section class="related">
        <div class="related-label"><span>비슷한 수업</span></div>
        <div class="related-card">
          <div class="name">[웹개발] 웹개발 1개월 단기 완성반</div>
          <a
            target="blank"
            href="https://www.notion.so/1-1-b15fa1459ca6475a97db11624ea9677e"
            >알아보기 <i class="fas fa-angle-right"></i
          ></a>
        </div>
        <div class="related-card">
          <div class="name">[핀테크] 금융 데이터 분석 사이트반</div>
          <a
            target="blank"
            href="https://www.notion.so/3-3e65d04289d240bfbe658016e03334c1"
            >알아보기 <i class="fas fa-angle-right"></i
          ></a>
        </div>
        <!-- <div class="related-card">
          <div class="name">
            [자동매매툴] 24시간 나만을 위한 자동매매툴 완성반
          </div>
          <a href="https://www.notion.so/4-24-0e3d20b6a02349bb8eab0b5e31535707"
            >알아보기 <i class="fas fa-angle-right"></i
          ></a>
        </div>
        <div class="related-card">
          <div class="name">[데이터분석] 데이터분석 시스템 완성반</div>
          <a href="https://www.notion.so/5-4632b19ca73040a49962f921bfa5fa86"
            >알아보기 <i class="fas fa-angle-right"></i
          ></a>
        </div> -->
      </section>
    </aside>

    <footer class="col-full">
      <div class="blended">
        <p>"We are your Study Buddies!"</p>
        <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & NY & HM</p>
        <a target="blank" href="https://blended.kr"
          ><button>블렌디드 구경하기</button></a
        >
        <button id="credit-modal-btn" class="credit">Credits</button>
        <!-- The Modal -->
        <div id="credit-modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="close-section">
              <span class="close">&times;</span>
            </div>
            <p>- English 시강 영상 음악:</p>
            <p>
              <a
                class="credit-link"
                href="https://www.iksonmusic.com/"
                target="blank"
                >ikson music</a
              >: Paradise
            </p>
          </div>
        </div>
      </div>
      <div class="company">
        <p>사업자명: 블렌디드</p>
        <p>대표자: 박시형</p>
        <p>사업자등록번호: 777-21-01064</p>
        <p>사업장 소재지: 서울특별시 성북구 동소문로 248 (02735)</p>
        <p>이메일: studybuddy.kr@gmail.com</p>
      </div>
    </footer>

    <script src="main_coding.min.js" async defer></script>
  </body>
</html>
