<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-177837666-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-177837666-1");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>스터디버디</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/buddy_favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="main_lecture.min.css" />
  </head>

  <body id="index" class="centered-column">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header class="col-full">
      <div class="logo left-centered">STUDYBUDDY</div>
      <div class="menu right-centered">
        <a href="/english"><button>영어</button></a>
        <a href="/coding"><button>코딩</button></a>
      </div>
    </header>

    <aside class="main-lecture">
      <section class="banner">
        <div class="tag">스터디버디 영어 특강</div>
        <div class="title">OPIC 1달 목표 달성반</div>
        <div class="subtitle">
          해외 경험이 없는 독학 스피킹 초보자를 위한 원어민급 1:1 발음 교정
        </div>
        <div class="price">
          개인별 수강료: <span>월 72만원</span> -> 월 36만원
        </div>
        <div class="classes">
          <div class="class-card">
            <div class="dday">1차 시작: 10월 5일</div>
            <div class="name">[OPIC 입문/기초반] 주3회 월수금반</div>
            <div class="schedule">
              주 3회 오후 7시~11시 (선택) (회당 1시간) / 총 12회(12시간) 진행
            </div>
            <div class="student">수업 정원: 1~5명</div>
            <a href="">바로 신청하기</a>
          </div>
          <div class="class-card">
            <div class="dday">2차 시작: 10월 19일</div>
            <div class="name">[IH/AL목표 고급반] 주3회 화목토반</div>
            <div class="schedule">
              주 3회 오후 7시~11시 (선택) (회당 1시간) / 총 12회(12시간) 진행
            </div>
            <div class="student">수업 정원: 1~5명</div>
            <a href="">바로 신청하기</a>
          </div>
        </div>
      </section>
      <section class="description">
        <div class="summary">
          실제 출제 유형별 연습으로 OPIC 시험 완벽 대비. '만능 템플렛’
          ‘스토리텔링'으로 완벽한 고득점 답변.
        </div>
        <div class="target">
          수업 대상: 학생이나 취업준비생, 이직을 준비하는 직장인 모두
        </div>
        <div class="objective">수업 목표: 단기 1달 목표 점수 달성</div>
        <div class="method">
          온라인 Zoom 화상회의 (오프라인 수업 병행 상담 후 결정 가능)
        </div>
      </section>
      <section class="curriculum"></section>
      <section class="related">
        <div class="related-card">
          <div class="name">OPIC 입문/기초반</div>
          <a href="">알아보기</a>
        </div>
        <div class="related-card">
          <div class="name">IH/AL 목표 고급반</div>
          <a href="">알아보기</a>
        </div>
        <div class="related-card">
          <div class="name">기초일상 회화</div>
          <a href="">알아보기</a>
        </div>
        <div class="related-card">
          <div class="name">프리토킹 회화</div>
          <a href="">알아보기</a>
        </div>
      </section>
    </aside>

    <footer class="col-full">
      <div class="blended">
        <p>"We are your Study Buddies!"</p>
        <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & NY & HM</p>
        <a target="blank" href="https://blended.kr"
          ><button>블렌디드 구경하기</button></a
        >
      </div>
      <div class="company">
        <p>사업자명: 블렌디드</p>
        <p>대표자: 박시형</p>
        <p>사업자등록번호: 777-21-01064</p>
        <p>사업장 소재지: 서울특별시 성북구 동소문로 248 (02735)</p>
        <p>이메일: studybuddy.kr@gmail.com</p>
      </div>
    </footer>

    <script src="main_lecture.min.js" async defer></script>
  </body>
</html>
