<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-177837666-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-177837666-1");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="service.min.css" />
  </head>

  <body id="index" class="centered-column">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header class="col-full">
      <div class="logo left-centered">STUDYBUDDY</div>
      <div class="menu right-centered">
        <a href="/english"><button>영어</button></a>
        <a href="/coding"><button>코딩</button></a>
      </div>
    </header>

    <main class="col-full">
      <section class="banner centered-row">
        <div class="container">
          <div class="text">
            <h3>ENGLISH<span>.</span></h3>
            <h3>CLASS<span>.</span></h3>
            <h3>LINEUP<span>.</span></h3>
          </div>
          <div class="image"></div>
          <div class="circle"></div>
          <div class="name">Anne 선생님</div>
        </div>
      </section>
      <section class="intro">
        <h3><span>인사말</span></h3>
        <p class="quote">
          "Cowards dies many times before their deaths. The valiant never taste
          of death but once."
        </p>
        <p>
          겁쟁이는 죽음에 앞서 이미 여러 차례 죽지만, 용기 있는 자는 단 한번
          밖에 죽지 않는다.
        </p>
        <p>
          영문학계의 거장, 셰익스피어. 그리고 그의 명작 ‘줄리어스 시저’에 나오는
          명대사입니다.
        </p>
        <p>
          인생에 어떠한 도전도 용감하게 맞설 준비가 된 자들은 내면의 견고함을
          바탕으로 앞으로 더 나아갈 수 있다는 뜻이죠.
        </p>
        <p>
          안녕하세요, 저는 여러분 곁에서 학문적인 도전을 함께할 스터디버디
          Anne입니다.
        </p>
        <p>
          저는 어린 시절부터 영문학 책에 관심을 갖고, 영어라는 언어 자체에 대한
          흥미와 사랑으로 외국어고등학교를 입학했습니다. 좋은 기회가 생겨 미국
          캘리포니아주에 위치한 공립고등학교인 Buchanan High School에서 학업을
          이어나가게 되고, 새로운 환경에서 SAT, AP, TOEFL 등 공인어학시험을
          나만의 노하우로 공부하여 최고성적을 낼 수 있었습니다.
        </p>
        <p>
          전교 학생 중 한국인은 한손에 꼽을 정도로 없는 낯선 환경에서 GPA 4.20의
          성적과 무려 3가지 교내/교외 성적우수장학생으로 졸업하게 됩니다.
        </p>
        <p>
          이 후 귀국하여, 연세대학교 언더우드 국제대학 (Underwood International
          College) 내 아시아학부및 영어영문학을 복수전공하여 영어에 대한 사랑을
          인문학으로 넓혀 공부하게 되죠.
        </p>
        <p>
          저 또한 국내 초등/중등 입시를 거쳐 온 학생으로, 늘 준비 시간에 쫓기는
          비영어권 학생들이 가장 스마트하게 공부할 수 있는 노하우가 절실하다는
          것을 느꼈어요.
        </p>
        <p>
          스스로 터득한 공부 노하우, 시험을 접근하는 공략법을 학생들도 터득할 수
          있다면, 짧은 시간 내에 가장 효과적인 결과를 낼 수 있다는 믿음이
          있어요.
        </p>
        <p>
          영어를 단순 분석법으로 접근하게 되면 굉장히 무서운 언어로 느껴질 수도
          있지만, 일상에서 사용하는 한국어와 다를 바 없는 언어의 흐름을 제대로
          배우게 되면 얼마나 재미있는지 몸소 느낄 수 있어요!
        </p>
        <p>
          18살 때 동네도서관에서 혼자 공부하며 읽고 분석한 100여 가지 지문과
          문제들, 이 후 수 년간 학생들을 지도하며 터득해온 효율적인 학습법으로
          가장 스마트하게 최선의 결과를 이끌어 내겠습니다.
        </p>
        <p>
          스터디버디와 함께라면 이런 도전도 더 이상 두려움이 아닌 기대감으로
          가득찰 수 있어요!
        </p>
      </section>
      <section class="banner-2">
        <div class="career">
          <h3><span>경력</span></h3>
          <p>
            - <span>연세대학교</span> UIC (언더우드국제대학) 아시아학부 /
            영어영문학 복수전공 졸업
          </p>
          <p>
            - <span>Briman Communications</span> (글로벌 IT기업 클라이언트 대상
            홍보/마케팅 기업)에서 Account Executive로 재직
          </p>
          <p>
            - <span>AlphaSights</span> (영국계 B2B 리서치 컨설팅펌)에서 Senior
            Associate로 재직
          </p>
          <p>
            - 칭다오 <span>종로어학원</span> 해외 국제학교 학생 대상 SAT /
            TOEFL(Reading, Speaking) 대표강사
          </p>
          <p>
            - <span>C2어학원</span> 대구 수성구 SAT(Reading, Writing/Essay) /
            TOEFL 특강 출강 대표강사
          </p>
          <p>- <span>와이드너 어학원</span> SAT / TOEFL 대표강사</p>
          <p>- <span>이챕터스</span> 옥수점 리딩튜터</p>
          <p>
            - <span>베지아보카도</span> 스타트업 빅데이터 기반 영어교육 컨텐츠
            플랫폼 공동대표(CSO)
          </p>
          <p>
            - <span>김포외국어고등학교, Buchanan High School</span> (미국
            캘리포니아주 공립고등학교) 졸업
          </p>
        </div>
        <div class="award">
          <h3><span>수상실적</span></h3>
          <p>
            - Tzu Chi Scholar, Steven David Reid Memorial Scholar for Academic
            Promise 성적우수장학생
          </p>
          <p>- 디지털YBN, EBS토셀 주최 제 1회 글로벌 영어경시대회 금상 수상</p>
          <p>
            - 중앙일보, 주한영국대사관 주최 제 4회 ESU 대한민국 영어말하기대회
            대상 수상
          </p>
          <p>- 연세대학교 단과대학 성적우수장학생</p>
        </div>
      </section>
      <section class="lecture">
        <div class="lecture-intro">
          <div class="side">
            <h6>스터디버디 영어 수업</h6>
            <p></p>
          </div>
          <i class="fas fa-book-reader"></i>
        </div>
        <div class="card-grid">
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">기초일상 회화</h5>
              <p class="subtitle">중고등, 대학/성인 대상</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">비즈니스 회화</h5>
              <p class="subtitle">이메일 쓰기, 미팅/프레젠테이션, 전화 등</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">프리토킹 회화 <span>고급</span></h5>
              <p class="subtitle">Debate, 시사이슈 토론, 등 자유 주제</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">OPIC 공인어학시험</h5>
              <p class="subtitle">1달 완성 입문/기초반, 1주 완성 AL목표반</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">TOEIC Speaking 공인어학시험</h5>
              <p class="subtitle">기초 이론반, 고급반</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">TOEIC 공인어학시험</h5>
              <p class="subtitle">기초 이론반, 750점반, 990점반</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">TOEFL 공인어학시험</h5>
              <p class="subtitle">Speaking, Reading, Writing, Listening</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">SAT 준비</h5>
              <p class="subtitle">Reading, Writing반</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">AP 준비</h5>
              <p class="subtitle">
                AP Government & Politics, Psycology, Literature, History반
              </p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">IB 준비</h5>
              <p class="subtitle">IB Literature반</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">
                국제고 / 해외대 / 대학원 에세이 <span>입시전형</span>
              </h5>
              <p class="subtitle">에세이 첨삭 서비스 별도</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="lecture-card">
            <div class="info">
              <h5 class="title">
                영어면접대비, 외국계기업 준비 <span>취업전형</span>
              </h5>
              <p class="subtitle">1대 1 Mock Interview</p>
            </div>
            <div class="more-btn">
              자세히 보기 <i class="fas fa-angle-right"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="message">
        <div class="container">
          <div class="line">
            <div class="area"></div>
          </div>
          <h6 class="title">문의하기</h6>
          <div class="options">
            <p>
              뭐든 문의해주세요. 아래 사항들을 같이 보내주시면 카톡/이메일로
              연락드립니다!
            </p>
            <br />
            <p>1. 무슨 수업을 듣고 싶은지 알려주세요.</p>
            <p>2. 현재 수준이 어떤지 알려주세요.</p>
            <p>3. 기간/시간은 어떻게 하고 싶은지 알려주세요.</p>
          </div>
          <form id="message-form" action="">
            <div class="form-row">
              <label for="name-input">Name:</label>
              <input id="name-input" name="name-input" type="text" />
            </div>
            <div class="form-row">
              <label for="phone-input">Phone:</label>
              <input id="phone-input" name="phone-input" type="text" />
            </div>
            <div class="form-row">
              <label for="email-input">Email:</label>
              <input id="email-input" name="email-input" type="text" />
            </div>
            <div class="form-row">
              <label for="content-input">Content:</label>
              <textarea
                id="content-input"
                name="content-input"
                cols="30"
                rows="10"
              ></textarea>
            </div>
            <input type="submit" value="전송하기" />
          </form>
        </div>
      </section>
    </main>

    <footer class="col-full">
      <div class="blended">
        <p>"We are your Study Buddies!"</p>
        <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & NY & HM</p>
        <a target="blank" href="https://blended.kr"
          ><button>블렌디드 구경하기</button></a
        >
      </div>
      <div class="company">
        <p>사업자명: 블렌디드</p>
        <p>대표자: 박시형</p>
        <p>사업자등록번호: 777-21-01064</p>
        <p>사업장 소재지: 서울특별시 성북구 동소문로 248 (02735)</p>
        <p>이메일: ppark9553@gmail.com</p>
      </div>
    </footer>

    <script src="service.min.js" async defer></script>
  </body>
</html>
